.mainHeader{
  text-align:center;
  font-size:50px;
}
.subHeader{
  text-align:center;
}
body{
  background-color:Lightblue;
}
.Lopez{
  transform: translate(650px,0px)
}
.Logo{
  height: 200px; width: 200px;
  transform: translate(-200px,-300px)
}
a:hover {
  font-size:50px;
}
ol > li:hover{
  color:green;
}
ul > li:hover{
  font-size:20px
}
@keyframes color{
  from{background-color:blue;}
  to{backgroud-color:green;}
}
h4:hover {
    animation-name: color;
  animation-duration: 4s;
}
