.mainHeader{
  text-align:center;
  font-size:50px;
}
.subHeader{
  text-align:center;
}
body{
  background-color:Lightblue;
}
.Lopez{
  transform: translate(550px,0px)
}
.Logo{
  height: 200px; width: 200px;
  transform: translate(-200px,-300px)
}
a:hover {
  font-size:50px;
}
ol > li:hover{
  color:green;
}
ul > li:hover{
  font-size:20px
}
@keyframes sizeChanger{
  from{background-color:50px;}
  to{font-size:100px;}
}
.mainHeader:active {
    animation-name: sizeChanger;
  animation-duration: 4s;
}
